<!DOCTYPE html>
<html lang="en" ng-app>
  <?php
      require '../templates/head.html';
  ?>

  <body>
      <?php
        require '../templates/navbar.html';
      ?>

      <!-- MAIN CONTENT -->
      <!-- ************ -->
      <!-- ************ -->
      <!-- ************ -->
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
      <div class="container">
      <div class="row" align="center">
          <div class="col-lg-8 col-lg-offset-2">
          <h3 align="">Who We Are</h3>
          <article>
            DALCOM KENYA LIMITED is a Kenyan Based Limited Company registered under the Companies Act (Cap. 486) in the Republic of Kenya in May 2013. Before then, it operated as Dalcom Enterprises Limited.
          </article>
        </div>
      </div>
      <div class="row" align="center">
        <div class="col-lg-8 col-lg-offset-2">
          <h3 align="center">What We Do</h3>
          <article>
            Our area of specialization is in motor vehicle industry where we come in as manufactures of certified and qualified governors .Our product is called OMATA V2030GAR which is a certified speed limiter and recorder by Kenya bureau of standards.
          </article>
        </div>
      </div>
      <div class="row" align="center">
        <div class="col-lg-8 col-lg-offset-2">
          <h3 align="center">Our Mission</h3>
          <article>
            Our mission which is tied in our vision is to ensure safety standards are maintained on our roads with a cutting edge on motor vehicles so that the government can achieve its vision 2030.
          </article>
        </div>
      </div>
      <div class="row" align="center">
        <div class="col-lg-8 col-lg-offset-2">
          <h3 align="center">Our Vision</h3>
          <article>
            Our mission which is tied in our vision is to ensure safety standards are maintained on our roads with a cutting edge on motor vehicles so that the government can achieve its vision 2030.
          </article>
        </div>
      </div>
      
      <div class="row" >
        <div class="col-lg-8 col-lg-offset-2">
        <h3 align="center">Goals</h>
          <section ng-init="tab = 1">
            <ul class="nav nav-pills nav-justified">
              <li><a href="" ng-click="tab = 1">Short-Term</a></li>
              <li><a href="" ng-click="tab = 2">Long-Term</a></li>
            </ul>
          </section>
          <div class="panel" ng-show="tab === 1">
            <article align="left">
              <ul>
                <li><p>To invest on research and development of new technologies in the industry</p></li>
                <li><p>To increase the number of clients through vigorous marketing</p></li>
                <li><p>To boost monthly turnover of the business</p></li>
                <li><p>To increase our training bases on safety standards.</p></li>
              </ul>
            </article>
          </div>
          <div class="panel" ng-show="tab === 2">
            <article align="left">
              <ul>
                <li><p>To expand our market to cover the whole of East and Central Africa</p></li>
                <li><p>To set up a training school geared towards instilling safety standards.</p></li>
              </ul>
            </article>
          </div>
        </div>

          </div>
        </div>
        </div>
      </main>
      <!-- MAIN CONTENT -->
      <!-- ************ -->
      <!-- ************ -->
      <!-- ************ -->
    



    <?php 
      require '../templates/js-links.html'; 
    ?>
  </body>
</html>