html {
	}

body {
	
}

header.headr {

	background-image: url(../gallery/web/bg/cyan-grad.jpg); 
	height: 100vh;
	
	background-size: cover;
	margin-top:0;
	display: flex;
	flex-direction:column;
	justify-content:center;
	
}

div.jumbotron {
	background-image: url();
}

div.sec1 {
	background-color: #f0f0f0;
}