<!-- ##########  NAVBAR   ################ -->
    <!-- ##################################### -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <!-- Start MDL Nav-Header -->
      <!-- ******************** -->
      <!-- ******************** -->
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title"><img class="no-shadow" src="../assets/gallery/web/logo/logo-small.png" width="40px"></span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="../index.html"> HOME </a>
            <a class="mdl-navigation__link" href="./about.html"> ABOUT US </a>
            <a class="mdl-navigation__link" href="./products.html"> OUR-PRODUCTS </a>
            <a class="mdl-navigation__link" href="./agent-list.html"> AGENT-LIST </a>
            <a class="mdl-navigation__link" href="./contact.html"> CONTACT </a>
          </nav>
        </div>
      </header>
      <!-- End MDL Nav-Header -->
      <!-- ****************** -->
      <!-- ****************** -->

      <!-- Start MDL Drawer -->
      <!-- **************** -->
      <!-- **************** -->
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><img class="no-shadow" src="../assets/img/dalcom/logo/logo-small.png" width="40px"></span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="../index.html"> HOME </a>
            <a class="mdl-navigation__link" href="./about.html"> ABOUT US </a>
            <a class="mdl-navigation__link" href="./products.html"> OUR-PRODUCTS </a>
            <a class="mdl-navigation__link" href="./agent-list.html"> AGENT-LIST </a>
            <a class="mdl-navigation__link" href="./contact.html"> CONTACT </a>
        </nav>
      </div>
      <!-- End MDL Drawer -->
      <!-- ************** -->
      <!-- ************** -->